*{
    padding: 0;
    margin: 0;
}

/* ====================
Registration Page Start
============ =========*/
.regImage{
    height: 100vh;
    display: block;
     width: 100%;
    object-fit: cover; 
}
.regBox{
    width: 530px;
    margin-top: 150px;
    margin-left: auto;
}
.heading{
    font-family: 'Nunito', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #11175D;
}
.para{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin-top: 13px;
    margin-bottom: 40px;
}
.paraTwo{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #000000;
    margin-left: 70px;
    
}
.paraTwo span{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #EA6C00;
    cursor: pointer;
    
}
.MuiInputBase-input{
    font-size: 20px !important;
    font-weight: 600 !important;
    font-family: 'Nunito', sans-serif !important;
    color: #11175D !important;
    
}
/* ====================
Registration Page end
============ =========*/
/* ====================
Login Page start
============ =========*/

.google{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    align-items: center;
    border: 1px solid rgba(105, 95, 95, 0.496);
    padding: 15px 0px;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 30px;
    
}
.paraGoogle{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;

}
.googleIcon{
    font-size: 20px;
}
.unlink{
    text-decoration: none;
}
/* ====================
Login Page end
============ =========*/