*{
    padding: 0;
    margin: 0;
}

/* ====================
Registration Page Start
============ =========*/
.regImage{
    height: 100vh;
    display: block;
     width: 100%;
    object-fit: cover; 
}
.regBox{
    width: 530px;
    margin-top: 130px;
    margin-left: auto;
}
.heading{
    font-family: 'Nunito', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #11175D;
}
.para{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin-top: 13px;
    margin-bottom: 20px;
}
.paraTwo{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #000000;
    margin-left: 70px;
    
}
.paraTwo span{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #EA6C00;
    cursor: pointer;
    
}
.MuiInputBase-input{
    font-size: 18px !important;
    font-weight: 600 !important;
    font-family: 'Nunito', sans-serif !important;
    color: #11175D !important;
    
}
.inputOne{
    position: relative;
    padding-bottom: 18px;
    
}
.error-box {
    position: absolute;
    background-color: #BE4B49;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width:240px;
    padding: 16px;
    text-align: center;
    width: 100%;
    margin: auto;
    top: 130%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.error-box::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 24px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #BE4B49; /* Light blue background color */
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.error-box p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.regIcon{
    color: #BE4B49;
    font-size: 22px;
    position: absolute;
    top: 17px;
    left: 337px;
}
.alertOne{
    width: 64%;
}
.google1{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    align-items: center;
    border: 1px solid rgba(105, 95, 95, 0.496);
    padding: 15px 0px;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;

}
/* ====================
Registration Page end
============ =========*/
/* ====================
Login Page start
============ =========*/

.google2{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    align-items: center;
    border: 1px solid rgba(105, 95, 95, 0.496);
    padding: 15px 0px;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 30px;
    cursor: pointer;
    
}
.paraGoogle{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;

}
.googleIcon{
    font-size: 20px;
}
.unlink{
    text-decoration: none;
}
.buttonForLoder{
    width: 70%;
    border: 0px;
    border-radius: 86px;
    margin-bottom: 30px;
    
    
}

/* ====================
Login Page end
============ =========*/

/* ====================
Home Page start
============ =========*/

.homebox1{
    background: #5F35F5;
    height: 100vh;
   
}
/* ====================
Home Page end
============ =========*/







