*{
    padding: 0;
    margin: 0;
}
.regImage{
    height: 100vh;
    display: block;
    width: 100%;
    object-fit: cover;
}
.regBox{
    width: 530px;
    margin-top: 150px;
    margin-left: auto;
}
.heading{
    font-family: 'Nunito', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #11175D;
}
.para{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    padding-top: 13px;
    padding-bottom: 40px;
}
.MuiInputBase-input{
    font-size: 20px !important;
    font-weight: 600 !important;
    font-family: 'Nunito', sans-serif !important;
    color: #11175D !important;
    
}
.paraTwo{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #000000;
    margin-left: 70px;

}
.paraTwo span{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #EA6C00;
    cursor: pointer;
    
}